<configuration>
    <appender name="WORKER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/resources/log/worker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Archive log files daily -->
            <fileNamePattern>src/main/resources/log/worker-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WORKER_WARNING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/resources/log/worker-warning.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Archive log files daily -->
            <fileNamePattern>src/main/resources/log/worker-warning-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="WORKER_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/resources/log/worker-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Archive log files daily -->
            <fileNamePattern>src/main/resources/log/worker-error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="WORKER_FILE" />
        <appender-ref ref="WORKER_WARNING_FILE" />
        <appender-ref ref="WORKER_ERROR_FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
