<div th:fragment="articlevoting">
  <p>Líbí se: <span th:text="${article.upVotes}"></span></p>

  <div sec:authorize="isAuthenticated()">
    <form method="post" th:action="@{/articles/voteUp}" class="vote-form">
      <input type="hidden" name="articleId" th:value="${article.articleId}" />
      <input type="hidden" name="userId" th:value="${userId}" />
      <button type="submit" class="vote-button" id="voteUpButton">
        <img src="/images/palec-nahoru.png" alt="Palec nahoru" class="vote-icon" />
      </button>
    </form>
  </div>
</div>
