<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">

  <meta charset="utf-8"/>
  <meta name="description" content="Bažant u plotny - blog domácího kuchaře"/>
  <meta name="keywords" content="blog, foodblog, bažant u plotny, domácí kuchař, vaření"/>
  <meta name="author" content="Michal Bažant"/>
  <title>Bažant u plotny - foodblog domácího kuchaře</title>


  <link rel="stylesheet" th:href="@{/styles/lightbox.min.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>
  <link rel="shortcut icon" th:href="@{/images/ikona.ico}"/>

  <script th:src="@{/scripts/lightbox-plus-jquery.min.js}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.0.3/tinymce.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.0.3/plugins/image/plugin.js"></script> <!-- Přidáváme plugin pro obrázky -->
  <script>
    tinymce.init({
        selector: "textarea[id*=content],textarea[id*=image]",
        entities: "160,nbsp",
        entity_encoding: "named",
        plugins: "image",
        menubar: "insert",
        toolbar: "imageupload",
        images_upload_url: "/uploadImage",
        images_upload_base_path: "/"
    });
</script>




</head>

<body>

<header th:fragment="header">
  <div id="logo">
    <h1>Foodblog<span>Bažant u plotny</span></h1>
    <small>blog domácího kuchtila</small>
  </div>
  <nav>
    <ul>
      <li><a th:href="@{/}">Domů</a></li>
      <li><a th:href="@{/articles}">Články</a></li>
      <li><a th:href="@{/recipes}">Recepty</a></li>
      <li><a th:href="@{/references}">Reference</a></li>
      <li><a class="kontakt-tlacitko" th:href="@{/contact}">Kontakt</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Účet</a>
        <div class="dropdown-content">
          <a sec:authorize="isAnonymous()" th:href="@{/account/login}" class="dropdown-link">Přihlásit se</a>
          <a sec:authorize="isAnonymous()" th:href="@{/account/register}" class="dropdown-link">Registrace</a>
          <a sec:authorize="isAnonymous()" th:href="@{/account/forgotpassword}" class="dropdown-link">Zapomenuté heslo</a>
          <a sec:authorize="isAuthenticated()" th:href="@{/account/changepassword}" class="dropdown-link">Změna hesla</a>
          <a sec:authorize="isAuthenticated()" th:href="@{/profile/userprofile}" class="dropdown-link">Můj profil</a>
          <a sec:authorize="isAuthenticated()" th:href="@{/profile/list}" class="dropdown-link">Uživatelé</a>
          <a sec:authorize="isAuthenticated()" th:href="@{/account/logout}" class="dropdown-link">Odhlásit se</a>
        </div>
      </li>
    </ul>
  </nav>
</header>


<footer th:fragment="footer">
  Created by &copy;Michal Bažant 2024
</footer>

</body>
</html>
