<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>

<article>
  <div id="centrovac">
    <header>
      <h1>Change password</h1>
    </header>

    <section>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form th:action="@{/account/changepassword}" th:object="${loggedUserDTO}" method="post" class="d-flex flex-column gap-2">
            <div class="form-group">
              <label for="current-password">Current Password</label>
              <input id="current-password" name="currentPassword" type="password" th:field="*{currentPassword}" class="form-control"/>
              <small class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">
              </small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" name="password" type="password" th:field="*{password}" class="form-control"/>
              <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
              </small>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm password</label>
              <input id="confirm-password" name="confirmPassword" type="password" th:field="*{confirmPassword}" class="form-control"/>
              <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
              </small>
            </div>
            <div class="form-group">
              <button type="submit" class="clanky-tlacitko align-self-start">Change password</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>

</html>